USE [master]
GO
/****** Object:  Database [Ahorcado]    Script Date: 16/6/2026 09:05:48 ******/
CREATE DATABASE [Ahorcado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ahorcado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Ahorcado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ahorcado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Ahorcado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ahorcado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ahorcado]
GO
/****** Object:  User [alumno]    Script Date: 16/6/2026 09:05:48 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Palabra]    Script Date: 16/6/2026 09:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[palabra] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Palabra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Palabra] ON 

INSERT [dbo].[Palabra] ([id], [palabra]) VALUES (1, N'ELEFANTE')
INSERT [dbo].[Palabra] ([id], [palabra]) VALUES (2, N'MURCIELAGO')
INSERT [dbo].[Palabra] ([id], [palabra]) VALUES (3, N'BIBLIOTECA')
SET IDENTITY_INSERT [dbo].[Palabra] OFF
GO
USE [master]
GO
